<html>
  <head>
    <title>Resume</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      a {
        text-decoration: underline !important;
      }

    </style>
  </head>


  <body class="mx-4 my-4">
    <header class="text-center mb-8">
      <h1 class="text-2xl">{{ name }}</h1>
      <p class="italic">
      {{ email }} • <a href="https://{{ github_url }}">{{ github_url }}</a> • <a href="https://{{ linkedin_url }}">{{ linkedin_url }}</a> • {{ location }}
      </p>
    </header>

    <div>
      {{#if summary }}
      <div class="mb-8">
        <h2 class="text-xl">Summary</h2>
        <p>{{ summary }}</p>
      </div>
      {{/if}}

      <div class="mb-8">
        <h2 class="text-xl">Experience</h2>
        {{#each work_experiences}}

        <div>
          <h3 class="font-bold">{{ this.company_name }}</h3>

          {{#each this.titles }}
            <div class="mb-4">
              <h4 class="font-semibold">{{ this.title }}</h4>
              <p class="italic text-xs mb-2">{{ this.duration }}</p>
              <ul class="list-disc list-inside">
              {{#each this.contributions }}
                <li>{{{ this }}}</li>
              {{/each}}
              </ul>
            </div>
          {{/each}}

        </div>

        {{/each}}
      </div>

      <div class="mb-8">
        <h2 class="text-xl">Skills</h2>
        <ul>
          {{#each skills}}
            <li><strong>{{this.name}}:</strong> {{ this.value }}</li>
          {{/each}}
        </ul>
      </div>

      <div class="mb-8">
        <h2 class="text-xl">Education</h2>
        <ul>
          {{#each educations}}
            <p><strong>{{ this.place }}</strong>, {{ this.title }}, {{
              this.duration }}</h3>
          {{/each}}
        </ul>
      </div>
    </div>

  </body>
</html>
